{{> header.hbs }}

<!-- Main -->
<section id="main" class="container 75%">
    <header>
        <h2>Admin Zone</h2>
    </header>
    <div class="box">
        <h3>Open Support Tickets</h3>
        {{#if noOpenTickets}}
            <p>Good job team! There aren't any open tickets</p>
        {{else}}
            {{#each openTickets}}
                <div class="box">
                    <h3><a href="/tickets/{{id}}">{{title}}</a> - {{user.name}}#{{user.discriminator}}</h3>
                    <p>Created {{date}} | Status: {{#if adminRe}}
                        <span style="color: green">Administrator Responded</span>
                    {{else}}
                        <span style="color: red">Waiting for Response</span>
                    {{/if}}</p>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <div class="box">
        <h3>Announce something</h3>
        <form action="/api/internal/administrators/announcements/add">
            <div class="row uniform 50%">
                <div class="8u">
                    <textarea name="content" id="content" rows="2" placeholder="Write here.."></textarea>
                </div>
                <div class="3u 12u(mobilep)">
                    <input type="submit" value="Add" class="alt"/>
                </div>
            </div>
        </form>
        <h3>Delete an existing announcement</h3>
        <form action="/api/internal/administrators/announcements/remove">
            <div class="row uniform 50%">
                <div class="5u">
                    <div class="select-wrapper">
                        <select name="content" id="content">
                            {{#each announcements}}
                                <option value="{{dateLong}}">{{date}} ({{writer.name}})</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="3u 12u(mobilep)">
                    <input type="submit" value="Remove" class="alt"/>
                </div>
            </div>
        </form>

    </div>
    <div class="box">
        <h3>Manage Staff Members (wow u guys r cool now)</h3>
        <h5><b>Add a staff member by Discord ID</b><br/>
            Don't know how to get someone's Discord ID? Click <a href="/guides/identifier">here</a> for help</h5>
        <div class="12u">
            <form action="/api/internal/useraction/">
                <input name="action" value="addStaffMember" hidden>
                <input name="redirect" value="administrators" hidden>
                <div class="row uniform 50%">
                    <div class="4u 12u(mobilep)">
                        <input type="text" name="id" id="id" value="" placeholder="Enter Discord ID.."/>
                    </div>
                    <div class="3u 12u(mobilep)">
                        <input type="submit" value="Update" class="alt"/>
                    </div>
                </div>
            </form>
        </div>
            <h5><b>Remove Staff Members</b></h5>
            <div class="table-wrapper">
                <div class="6u">
                    <table class="alt">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each staffMembers}}
                            <tr>
                                <td>{{name}}#{{discriminator}}</td>
                                <td><a href="/api/internal/administrators/removeStaff?id={{id}}"><img height="16" width="16"
                                                                                                 src="/images/x_button.png"></a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        <h3>Manage your 3 whitelists (gives highest patron permissions)</h3>
        <h5><b>Add someone by Discord ID</b><br/>
            Don't know how to get someone's Discord ID? Click <a href="/guides/identifier">here</a> for help</h5>
        <div class="12u">
            <form action="/api/internal/useraction/">
                <input name="action" value="addWhitelisted" hidden>
                <input name="redirect" value="administrators" hidden>
                <div class="row uniform 50%">
                    <div class="4u 12u(mobilep)">
                        <input type="text" name="id" id="id" value="" placeholder="Enter Discord ID.."/>
                    </div>
                    <div class="3u 12u(mobilep)">
                        <input type="submit" value="Update" class="alt"/>
                    </div>
                </div>
            </form>
        </div>
        {{#if hasWhitelists}}
            <h5><b>Remove Whitelists</b></h5>
            <div class="table-wrapper">
                <div class="6u">
                    <table class="alt">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each whitelisted}}
                            <tr>
                                <td>{{name}}#{{discriminator}}</td>
                                <td><a href="/api/internal/administrators/remove?id={{id}}"><img height="16" width="16"
                                                                                                 src="/images/x_button.png"></a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        {{/if}}
    </div>
</section>

{{> footer.hbs }}