{{> header.hbs }}
<!-- Main -->
<section id="main" class="container 75%">
    <header>
        <h2>{{user.name}}#{{user.discriminator}}'s game of Blackjack</h2>
        <p>Game ID: #{{id}} - Started at {{date}}</p>
    </header>
    <div class="box">
        <h3>Stats</h3>
        <p><b>Winner: </b>{{winner.name}}#{{winner.discriminator}}<br/>
            <b>Loser: </b>{{loser.name}}#{{loser.discriminator}}</p>
    </div>
    <div class="box">
        <h3>Game Board</h3>
        {{&board}}
    </div>
</section>

{{> footer.hbs }}