{{> header.hbs }}
{{#if showSnackbar}}
    <a href="#" style="margin: 50px auto 0 auto; width: 75%; display: block;"
       class="button special small">{{snackbarMessage}}</a>
{{/if}}
<!-- Main -->
<section id="main" class="container 75%" xmlns="http://www.w3.org/1999/html">
    <header>
        <h2>{{language.readable}} Homepage</h2>
        <p>Proofread easily by clicking <a href="/translation/ar/{{language.code}}/proofread/all">here</a>! (this isn't working at the moment please complain to combo)</p>
    </header>
    <h2>Undone Translations ({{undoneTotal}} Total)</h2>
    {{#each nullTranslations}}
        <div class="box">
            <h3 style="display: inline-block;">{{@index_1}}: <a href="/translation/ar/{{language.code}}/view/{{encoded}}">A <b>{{command}}</b> Command Translation</a></h3>
        </div>
    {{/each}}
    <h2>Completed Translations ({{completedTotal}} Total)</h2>
    {{#each completedTranslations}}
        <div class="box">
            <h3 style="display: inline-block;">{{@index_1}}: <a href="/translation/ar/{{language.code}}/view/{{encoded}}">A <b>{{command}}</b> Command Translation</a></h3>
        </div>
    {{/each}}
</section>

{{> footer.hbs }}