{{> header.hbs }}
{{#if showSnackbar}}
    <a href="#" style="margin: 50px auto 0 auto; width: 75%; display: block;"
       class="button special small">{{snackbarMessage}}</a>
{{/if}}
<!-- Main -->
<section id="main" class="container 75%">
    <header>
        <h2>Manage the Settings of {{guild.name}}</h2>
        <p><em>Pledge just a few dollars a month on <a href="/patreon">our Patreon</a> to get access to
            expanded music features <b>AND</b> help support the continuation of Ardent</em></p>
    </header>
    {{#with guildData}}
        <!-- Prefixes -->
        <div class="box">
            <h2>Prefix Settings</h2>
            <p>Current Prefix: <b>{{prefixSettings.prefix}}</b></p>
            <h4>Change Prefix</h4>
            <div class="12u">
                <form action="/accept">
                    <input name="name" value="changeprefix" hidden>
                    <input name="webRedirect" value="/manage/{{id}}" hidden/>
                    <input name="guild" value="{{id}}" hidden/>
                    <div class="row uniform 50%">
                        <div class="4u 12u(mobilep)">
                            <input type="text" name="newprefix" id="newprefix" value=""
                                   placeholder="Enter new prefix here.."/>
                        </div>
                        <div class="3u 12u(mobilep)">
                            <input type="submit" value="Change" class="alt"/>
                        </div>
                    </div>
                </form>
            </div>
            <h4>Do you want to disable the default prefix <b>/</b> ?<br/><em>If enabled, you will only be able to use
                commands with the set prefix above</em></h4>
            <form action="/accept">
                <input name="name" value="defaultprefix" hidden/>
                <input name="webRedirect" value="/manage/{{id}}" hidden/>
                <input name="guild" value="{{id}}" hidden/>
                <div class="row uniform 50%">
                    <div style="margin-top: 10px;" class="3u 6u(narrower)">
                        <input type="radio" id="disable" name="state" value="on"
                               {{#if prefixSettings.disabledDefaultPrefix}}checked{{/if}}>
                        <label for="disable">Disable</label>
                    </div>
                    <div style="margin-top: 10px;" class="3u 6u(narrower)">
                        <input type="radio" id="enable" name="state" value="off"
                               {{#unless prefixSettings.disabledDefaultPrefix}}checked{{/unless}}>
                        <label for="enable">Enable</label>
                    </div>
                    <div class="3u 12u(mobilep)">
                        <input type="submit" value="Update" class="alt"/>
                    </div>
                </div>
            </form>
        </div>
        <!-- Language settings -->
        <div class="box">
            <h2>Language Settings</h2>
            <p>Current Language: <b>{{langname languageSettings.language}}</b></p>
            <form action="/accept">
                <input name="name" value="changelang" hidden/>
                <input name="webRedirect" value="/manage/{{id}}" hidden/>
                <input name="guild" value="{{id}}" hidden/>
                <div class="row uniform 50%">
                    <div class="5u">
                        <div class="select-wrapper">
                            <select name="lang" id="lang">
                                {{#each langs}}
                                    <option id="lang" value="{{data.code}}">{{data.readable}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="3u 12u(mobilep)">
                        <input type="submit" value="Change" class="alt"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="box">
            <h2>Music Settings</h2>
            <h4>Do you want to enable autoplay?<br/><em>If enabled, related songs will automatically play at
                the end of the music queue</em></h4>
            <form action="/accept">
                <input name="name" value="changeautoplay" hidden/>
                <input name="webRedirect" value="/manage/{{id}}" hidden/>
                <input name="guild" value="{{id}}" hidden/>
                <div class="row uniform 50%">
                    <div style="margin-top: 10px;" class="3u 6u(narrower)">
                        <input type="radio" id="disabler" name="state" value="off"
                               {{#unless musicSettings.autoplay}}checked{{/unless}}>
                        <label for="disabler">Disable</label>
                    </div>
                    <div style="margin-top: 10px;" class="3u 6u(narrower)">
                        <input type="radio" id="enabler" name="state" value="on"
                               {{#if musicSettings.autoplay}}checked{{/if}}>
                        <label for="enabler">Enable</label>
                    </div>
                    <div class="3u 12u(mobilep)">
                        <input type="submit" value="Update" class="alt"/>
                    </div>
                </div>
            </form>

            <h4>Do you want me to stay in the voice channel when I'm the only one there?</h4>
            <form action="/accept">
                <input name="name" value="stayinvoice" hidden/>
                <input name="webRedirect" value="/manage/{{id}}" hidden/>
                <input name="guild" value="{{id}}" hidden/>
                <div class="row uniform 50%">
                    <div style="margin-top: 10px;" class="3u 6u(narrower)">
                        <input type="radio" id="disables" name="state" value="off"
                               {{#unless musicSettings.stayInChannel}}checked{{/unless}}>
                        <label for="disables">Disable</label>
                    </div>
                    <div style="margin-top: 10px;" class="3u 6u(narrower)">
                        <input type="radio" id="enables" name="state" value="on"
                               {{#if musicSettings.stayInChannel}}checked{{/if}}>
                        <label for="enables">Enable</label>
                    </div>
                    <div class="3u 12u(mobilep)">
                        <input type="submit" value="Update" class="alt"/>
                    </div>
                </div>
            </form>

            <h4>Do you want to allow everyone to use commands like <b>/skip</b>?</h4>
            <form action="/accept">
                <input name="name" value="changemusicadmin" hidden/>
                <input name="webRedirect" value="/manage/{{id}}" hidden/>
                <input name="guild" value="{{id}}" hidden/>
                <div class="row uniform 50%">
                    <div style="margin-top: 10px;" class="3u 6u(narrower)">
                        <input type="radio" id="disablea" name="state" value="off"
                               {{#unless musicSettings.canEveryoneUseAdminCommands}}checked{{/unless}}>
                        <label for="disablea">Disable</label>
                    </div>
                    <div style="margin-top: 10px;" class="3u 6u(narrower)">
                        <input type="radio" id="enablea" name="state" value="on"
                               {{#if musicSettings.canEveryoneUseAdminCommands}}checked{{/if}}>
                        <label for="enablea">Enable</label>
                    </div>
                    <div class="3u 12u(mobilep)">
                        <input type="submit" value="Update" class="alt"/>
                    </div>
                </div>
            </form>
        </div>
        <!-- Join & Leave messages -->
        <div class="box">
            <h2>Automessage Settings</h2>

            <h3>Set a channel to send automessages to</h3>
            <form action="/accept">
                <input name="name" value="automessagechannel" hidden/>
                <input name="webRedirect" value="/manage/{{id}}" hidden/>
                <input name="guild" value="{{id}}" hidden/>

                <div class="row uniform 50%">
                    <div class="5u">
                        <div class="select-wrapper">
                            <select name="messagechannelid" id="messagechannelid">
                                {{#if hasReceiverChannel}}
                                    <option value="{{receiverChannel.id}}" selected>{{receiverChannel.name}}</option>
                                {{else}}
                                    <option value="none" selected>None</option>
                                {{/if}}
                                {{#each guild.textChannels}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="3u 12u(mobilep)">
                        <input type="submit" value="Update" class="alt"/>
                    </div>
                </div>
            </form>

            <h5><b>Important Information:</b></h5>
            <p>You can use the following parameters in your messages: {usermention}} (mentions the member who joined or
                left), {username} (adds the username of the member), {servername} (adds the server name), or {joinplace}
                (adds join place - ex. 55 for the 55th member).<br/><b>You can mention text channels by doing <em>#channelNameHere</em>
                    and mention users by doing <em>@userid</em> - Get someone's ID by using <em>/getid @User inside Discord</em></b>
            </p>

            <h3>Join Message</h3>
            {{#if messageSettings.joinMessage}}
                <p><em>Last edited by <b>{{getfancyuser messageSettings.joinMessage.lastEditedBy}}</b> at <b>{{date
                        messageSettings.joinMessage.lastEditedAt}}</b></em></p>
                <h4>Set the Join Message</h4>
                <form action="/accept">
                    <input name="name" value="changemessage" hidden/>
                    <input name="type" value="join" hidden/>
                    <input name="webRedirect" value="/manage/{{id}}" hidden/>
                    <input name="guild" value="{{id}}" hidden/>
                    <div class="row uniform 50%">
                        <div class="8u">
                            <textarea name="joinmessage" id="joinmessage" rows="2">{{messageSettings.joinMessage.message}}</textarea>
                        </div>
                        <div class="3u 12u(mobilep)">
                            <input type="submit" value="Update" class="alt"/>
                        </div>
                    </div>
                </form>

                <h4>Do you want to temporarily disable the join message?</h4>
                <form action="/accept">
                    <input name="name" value="disablejoin" hidden/>
                    <input name="webRedirect" value="/manage/{{id}}" hidden/>
                    <input name="guild" value="{{id}}" hidden/>
                    <div class="row uniform 50%">
                        <div style="margin-top: 10px;" class="3u 6u(narrower)">
                            <input type="radio" id="disablejm" name="state" value="off"
                                   {{#unless messageSettings.joinMessage.enabled}}checked{{/unless}}>
                            <label for="disablejm">Disable</label>
                        </div>
                        <div style="margin-top: 10px;" class="3u 6u(narrower)">
                            <input type="radio" id="enablejm" name="state" value="on"
                                   {{#if messageSettings.joinMessage.enabled}}checked{{/if}}>
                            <label for="enablejm">Enable</label>
                        </div>
                        <div class="3u 12u(mobilep)">
                            <input type="submit" value="Update" class="alt"/>
                        </div>
                    </div>
                </form>
            {{/if}}


            <h3>Leave Message</h3>
            {{#if messageSettings.leaveMessage}}
                <p><em>Last edited by <b>{{getfancyuser messageSettings.leaveMessage.lastEditedBy}}</b> at <b>{{date
                        messageSettings.leaveMessage.lastEditedAt}}</b></em></p>
                <h4>Set the Leave Message</h4>
                <form action="/accept">
                    <input name="name" value="changemessage" hidden/>
                    <input name="type" value="leave" hidden/>
                    <input name="webRedirect" value="/manage/{{id}}" hidden/>
                    <input name="guild" value="{{id}}" hidden/>
                    <div class="row uniform 50%">
                        <div class="8u">
                            <textarea name="leavemessage" id="leavemessage" rows="2">{{messageSettings.leaveMessage.message}}</textarea>
                        </div>
                        <div class="3u 12u(mobilep)">
                            <input type="submit" value="Update" class="alt"/>
                        </div>
                    </div>
                </form>

                <h4>Do you want to temporarily disable the leave message?</h4>
                <form action="/accept">
                    <input name="name" value="disableleave" hidden/>
                    <input name="webRedirect" value="/manage/{{id}}" hidden/>
                    <input name="guild" value="{{id}}" hidden/>
                    <div class="row uniform 50%">
                        <div style="margin-top: 10px;" class="3u 6u(narrower)">
                            <input type="radio" id="disablen" name="state" value="off"
                                   {{#unless messageSettings.leaveMessage.enabled}}checked{{/unless}}>
                            <label for="disablen">Disable</label>
                        </div>
                        <div style="margin-top: 10px;" class="3u 6u(narrower)">
                            <input type="radio" id="enablenn" name="state" value="on"
                                   {{#if messageSettings.leaveMessage.enabled}}checked{{/if}}>
                            <label for="enablenn">Enable</label>
                        </div>
                        <div class="3u 12u(mobilep)">
                            <input type="submit" value="Update" class="alt"/>
                        </div>
                    </div>
                </form>
            {{/if}}
        </div>
    {{/with}}
</section>
{{> footer.hbs }}