{{> header.hbs }}

<!-- Main -->
<section id="main" class="container 75%">
    <header>
        <h2>Status</h2>
        <p>Curious about what we've been working on? Visit the <a href="/announcements">announcements page</a>, or
            <br/>you can check out the results of recently ended games <a href="/games/recent">here</a>
        </p>
    </header>
    <div class="box">
        <h3>Ardent Info</h3>
        <p>Received this Session: <b>{{messagesReceived}}</b> messages and <b>{{commandsReceived}}</b> commands<br/>
            Servers: <b>{{guilds}}</b><br/>
            Users: <b>{{users}}</b><br/>
            Music Activity: <b>{{loadedMusicPlayers}}</b> servers playing music now<br/>
            {{#if arePeoplePlayingMusic}}Queue Length: <b>{{queueLength}}</b> tracks<br />{{/if}}
            Uptime: <b>{{uptime}}</b>
        </p>
    </div>
    <div class="box">
        <h3>Server Status</h3>
        <p>CPU Usage: <b>{{cpuUsage}}</b>%<br/>
            RAM: <b>{{usedRam}}</b> of <b>{{totalRam}}</b> total MB available used<br/>
            Discord API Calls: <b>{{apiCalls}}</b></p>
    </div>
</section>

{{> footer.hbs }}